 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">VoteitOut</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/search/{{search}}/"><i class="material-icons left">search</i></a></li>

         <li> <input type="search" id="search" placeholder="Search..." name="search"  value="{{search}}" />
          </li>
         <li><a href="/posts">posts</a></li>
        <li><a href="/myposts">my posts</a></li>
          <li><a href="/profile">profile</a></li>
        <li><a href="/logout">logout</a></li>
      </ul>
    </div>
  </nav>